<h1>Help</h1>
<p>SceneStudio is a simple web-based 3D scene design tool.  It allows you to quickly create scenes using a database of 3D models.</p>
<p>TODO: This is where some more concrete instructions and interface help should go.</p>
