<h1>Help</h1>
<div class="row">
    <p>
        SceneStudio is a simple web-based 3D scene design tool.  It allows you to quickly create scenes using a database of 3D models.
    </p>
    <p>
        You can find objects using the search box on the right.
        <%= image_tag('help/search.png', alt: 'Search', class: 'inline') %>
    </p>
    <p>
        Left click on a search result and drag it to the scene to place the object.
        <%= image_tag('help/insert.png', alt: 'Insert', class: 'inline') %>
    </p>
    <p>
        Left-click to select and drag to move objects. When an object is selected, drag the blue circle around it to rotate it, and drag the yellow arrows to resize it. Keyboard shortcuts: up and down arrow to resize, left and right arrow to rotate.
        <%= image_tag('help/manipulate.png', alt: 'Manipulate', class: 'inline') %>
    </p>
    <p>
        To move the camera right-click and drag, use the mouse wheel, or use the camera control button in the top left corner.
        <%= image_tag('help/camera.png', alt: 'Camera', class: 'inline') %>
    </p>
</div>