body
{
    margin: 0;
    overflow: hidden;
    font-family: Helvetica;
    font-family: sans-serif;
}

#ui
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#selectview{
	margin-top:0;
	margin-bottom:0;
	
}
#blocker {
	display:table;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);
	z-index: 1000;

	}
#instructions{
	display:table-cell; 
	vertical-align:middle;	
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	text-align:center;
	vertical-align:middle;
	top:0;
}


#ui.busy *
{
    cursor: wait;
}

#ui.hideCursor *
{
    cursor: none;
}

#splitView
{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
}

#graphicsArea
{
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 0px;
}

#canvas
{
    height: 100%;
    width: 100%;
}
#canvas:focus
{
    outline: none;
}

.tooltip
{
    color: black;
    font-size: 9pt;
    font-family: sans-serif;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    
    background: rgba(221,238,255,1);
    border: 1px solid #A5A5A5;
    
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#graphicsOverlay
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}


/** MODEL SEARCH **/

#searchArea
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    
    border-left: thin solid #A5A5A5;
    
    background: -moz-linear-gradient(top, rgba(207,231,250,0.75) 0%,rgba(99,147,193,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(207,231,250,0.75) 0%,rgba(99,147,193,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(207,231,250,0.75) 0%,rgba(99,147,193,0.75) 100%);
    background: -o-linear-gradient(top, rgba(207,231,250,0.75) 0%,rgba(99,147,193,0.75) 100%);
    background: linear-gradient(top, rgba(207,231,250,0.75) 0%,rgba(99,147,193,0.75) 100%);
}

#searchArea h3
{
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 12px;
    margin_right: 12px;
}

#searchInputHeader
{
    position: absolute;
    top: 8px;
}

#searchBoxWrapper
{
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    margin: 10px;
    margin-right: 26px;
}

#searchInputBox
{
    font-size: 12pt;
    position: absolute;
/*    top: 34px;*/
/*    left: 0;
    right: 0;*/
    width: 100%;
/*    margin: 10px;*/
    padding: 6px;
    border: thin solid #A5A5A5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: white;
}
#searchInputBox:focus
{
    outline: none;
    border: medium solid #EF9F56;
}

#searchButton
{
    position: absolute;
    top: 90px;
    right: 0px;
    margin-right: 12px;
}

#searchResults
{
    position: absolute;
    top: 130px;
    bottom: 0;
}

#searchResultsContents
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*
    margin-left: 6px;
    margin-right: 6px;
    */
    margin: 10px;
    overflow-y: scroll;
}

#searchResultsContents .busyWaitIcon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.panel
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px;
    border: thin solid #A5A5A5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #E3EBF1;
}

.searchResultContainer
{
    float: left;
    width: 200px;
    padding: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    
    border: medium solid #3F6993;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    
    background: rgb(79,133,187);
}

.searchResultContainer.selected
{
    background: #EF9F56;
    border-color: #e17009;
}

.searchResultContainer img
{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    
    border: thin solid black;
}

.searchResultContainer span
{
    color: white;
    font-weight: bold;
    font-size: 11pt;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}



/** TOOLBAR **/

#toolbar
{
    pointer-events: auto;
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 2;
    margin-right: 30px;
}

#toolbar .button
{
    display: inline-block;
    
    padding: 6px;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 1px solid rgba(0, 0, 0, 0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    
    margin-left: 8px;
    
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-position: center 2px;
    
    color: #333;
    font-size: 9pt;
    
    position: relative;
    
    height: 34px;
    width: 40px;
    
    cursor: default;
}
#toolbar .button:hover
{
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
#toolbar .button:active
{
    background-color: rgba(0, 0, 0, 1.0);
    color: white;
}
#toolbar .button.disabled
{
    opacity: 0.3;
}

#toolbar .buttonLabel
{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 2px;
}

#toolbar .spacer
{
    width: 30px;
    display: inline-block;
    visibility: hidden;
}


/** CAMERA CONTROLS **/

#cameraControls
{
    pointer-events: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cameraControlsButton
{
    position: relative;
    border: 1px solid #7C7C7C;
    padding: 4px;
    
    cursor: default;
    
    text-align: center;
    
    background: -moz-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: -webkit-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: -ms-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: -o-linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
    background: linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
}
.cameraControlsButton:hover
{
    background: -moz-linear-gradient(top, rgba(187,211,230,1) 0%,rgba(79,127,173,1) 100%);
    background: -webkit-linear-gradient(top, rgba(187,211,230,1) 0%,rgba(79,127,173,1) 100%);
    background: -ms-linear-gradient(top, rgba(187,211,230,1) 0%,rgba(79,127,173,1) 100%);
    background: -o-linear-gradient(top, rgba(187,211,230,1) 0%,rgba(79,127,173,1) 100%);
    background: linear-gradient(top, rgba(187,211,230,1) 0%,rgba(79,127,173,1) 100%);
}
.cameraControlsButton:active
{
    color: white;
}

#cameraButton
{
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -ms-border-radius: 4px 4px 0px 0px;
    margin-bottom: 0px;
}

#cameraControlPanel
{
    position: absolute;
    top: 25px;
    padding: 4px;
    border: 1px solid #7C7C7C;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    -o-border-radius: 0px 4px 4px 4px;
    -ms-border-radius: 0px 4px 4px 4px;
    margin-top: 0px;
    
/*    background-color: #E3EBF1;*/
/*    background-color: white;*/
    background-color: rgba(255, 255, 255, 0.75);
}

.dpadContainer
{
    position: relative;
    width: 58px;
    height: 58px;
    margin-bottom: 10px;
}

.dpadIconHolder
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    
    background-color: rgba(207,231,250,1);
}

.dpadIcon
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;  /* Half the image width */
    margin-top: -8px;   /* Half the image height */
}

.dpadButton
{
    position: absolute;
    font-size: 8pt;
    padding: 2px;
    width: 14px;
    height: 14px;
}

.dpadLeftButton
{
    top: 50%;
    margin-top: -10px;
    
    border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
}
.dpadRightButton
{
    top: 50%;
    margin-top: -10px;
    right: 0;
    
    border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
}

.dpadUpButton
{
    left: 50%;
    margin-left: -10px;
    
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
}

.dpadDownButton
{
    left: 50%;
    margin-left: -10px;
    bottom: 0;
    
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
}

#zoomControl
{
    position: relative;
    width: 60px;
    height: 22px;
    margin-bottom: 10px;
}

.zoomIconHolder
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 18px;
    margin-left: -10px;
    margin-top: -10px;
    
    border-top: 1px solid #7C7C7C;
    border-bottom: 1px solid #7C7C7C;
    
    background-color: rgba(207,231,250,1); 
}

#zoomIcon
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;  /* Half the image width */
    margin-top: -8px;   /* Half the image height */
}

.zoomButton
{
    position: absolute;
    font-size: 12pt;
    font-weight: bold;
    padding: 2px;
    width: 14px;
    height: 14px;
    
/*    position: absolute;
    font-weight: bold;
    font-size: 12pt;
    width: 10px;
    height: 10px;*/
    
    top: 50%;
    margin-top: -10px;
}

#zoomMinusButton
{
    border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
}

#zoomPlusButton
{
    right: 0;
    
    border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
}

#homeButton
{
    left: 50%;
    margin-left: -13px;
    
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
}


/** ARCHITECTURE GENRATOR **/

#archGenDialog
{
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
    background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(221,238,255,1) 100%);
}

#archGenCanvas
{
    height: 99%;
    width: 99%;
}
#archGenCanvas:focus
{
    outline: none;
}

/** VIEW COLLECTION */
#blocker {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 1000;
}

#instructions{
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    top: 0;
}
