<div id="ui">
    <%= render '/scenes/graphicsArea' %>
    <div id='message' style="display: none;">
        <span>I AM MESSAGE BOX</span>
    </div>
</div>

<%= requirejs_include_tag('gl_app/analytics-main') %>
