<div id="help" class="help" style="display:none">
  <button type="button" class="close btn-large" onclick="$('#help').hide()">
  &times;
  </button>
  <p><b>Interface</b></p>
  <div class="row">
      Use search box to find objects
      <p>
          <%= image_tag('help/insert.png', alt: 'Insert', class: 'inline') %>
      </p>
      Left click to select and move
      <p>
          <%= image_tag('help/manipulate.png', alt: 'Manipulate', class: 'inline') %>
      </p>
      Right click to pan camera
      <p>
          <%= image_tag('help/camera.png', alt: 'Camera', class: 'inline') %>
      </p>
  </div>
</div>
