<div id="help" class="help" style="display:none">
  <button type="button" class="close" onclick="$('#help').hide()">
  &times;
  </button>
  <p>Find objects using the search box on the right.
     Left click on a search result and drag it to the scene to place the object. Left-click and drag to move objects.</p>
  <p>When an object is selected, drag the blue circle around it to rotate it, and drag the yellow arrows to resize it.</p>
  <p>Keyboard shortcuts: up and down arrow to resize, left and right arrow to rotate.</p>
  <p>To move the camera use right-click dragging and the mousewheel, or use the camera control button in the top left corner.</p>
</div>
