<!-- Modal to save before exit -->
<div id="ExitSceneModal" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="ExitSceneModalLabel">
  <div class="modal-dialog">
  <div class="modal-content">
  <%= form_tag(scenes_path,
               class: 'form-horizontal modal-form') do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ExitSceneModalLabel">Exit?</h4>
      </div>
      <div class="modal-body">
        Your scene has unsaved changed.  Would you like to save your scene before exiting?
      </div>
      <div class="modal-footer">
        <button id="ExitSceneSaveYes" type="button" class="btn btn-primary">Yes</button>
        <button id="ExitSceneSaveNo" type="button" class="btn btn-danger">No</button>
        <button id="ExitSceneCancel" type="button" class="btn"
                data-dismiss="modal" aria-hidden="true">
          Cancel
        </button>
      </div>
  <% end %>
  </div>
  </div>
</div>

<!-- Modal to exit  -->
<div id="ExitSceneErrorSavingModal" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="ExitSceneErrorSavingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <%= form_tag(scenes_path,
               class: 'form-horizontal modal-form') do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ExitSceneErrorSavingModalLabel">Exit?</h4>
      </div>
      <div class="modal-body alert-error">
        There was a error saving your scene.  Would you still like to exit without saving?
      </div>
      <div class="modal-footer">
        <button id="ExitSceneErrorYes" type="button" class="btn btn-danger">Yes</button>
        <button id="ExitSceneErrorCancel" type="button" class="btn"
                data-dismiss="modal" aria-hidden="true">
          Cancel
        </button>
      </div>
  <% end %>
  </div>
  </div>
</div>
