<div id="graphicsOverlay">
    <div id="toolbar"
         oncontextmenu="$('#canvas').focus(); return false;"
         onclick="$('#canvas').focus();"></div>
    <div id="cameraControls"
         oncontextmenu="$('#canvas').focus(); return false;"
         onclick="$('#canvas').focus();"></div>
    <div id="alert" class="alert" style='display:none'>
        <button type="button" class="close" onclick="hideAlert()">&times;</button>
        <span id="alertMessage"></span>
    </div>
    <%= render '/scenes/editHelp' %>
</div>