<div id="graphicsOverlay">
    <div id="toolbar"
         oncontextmenu="$('#canvas').focus(); return false;"
         onclick="$('#canvas').focus();"></div>
    <div id="cameraControls"
         oncontextmenu="$('#canvas').focus(); return false;"
         onclick="$('#canvas').focus();"></div>
 	
</div>