<div id="mturkoverlay"
 		oncontextmenu="$('#canvas').focus(); return false;"
        onclick="$('#canvas').focus();"
        >
        <%= image_tag "/data/image/stimuli/room1.png" ,height:"200", width:"200" %>
        <div id="editinstructions">
        	<p> Place models in the room to create a scene that best replicates the picture </p>
        	<p> Click the "save" button when you complete the task to recieve a coupon </p>
        </div>
</div>