<div id="mturkoverlay"
 		oncontextmenu="$('#canvas').focus(); return false;"
        onclick="$('#canvas').focus();"
        >
        <div id = "wrap">
        	<%= image_tag "/data/image/stimuli/room1.png"%>
        </div>
        <div id="editinstructions">
                <p id="prompt"> Mouseover for instructions </p>
                <div id="instructions">
                	<p> Place models in the room to create a scene that best resembles the picture on the left</p>
                	<p> Find models using the model search bar </p>
                        <p> Left click on search results and drag them to place them in the scene. Use the model's manipulator circle to rotate and resize a model or use the keyboard shortcuts: up and down arrow to resize, left and right arrow to rotate </p>
                        <p> To change the camera position, right click on the scene or use the camera controls in the top left corner </p>
                	<p> Placing about 8 models should be sufficient for resemblance. </p>  
                	<p> Click the "Save" button when you complete the task to finish the task and receive a coupon </p>
                </div>
        </div>
</div>