<li class='scene-item'>
  <div class="btn-group">
    <%= link_to scene.name, { action: 'edit', id: scene.id },
          class: 'btn scene-name' %>
    <%= link_to '', { action: 'view', id: scene.id },
          class: 'btn icon-camera scene-view' %>
    <%= link_to '×', scene, confirm: 'Are you sure?', method: :delete,
          class: 'btn btn-danger scene-delete' %>
  </div>
</li>
