<div id="searchArea">
    <h3 id="searchInputHeader"><label for="searchInputBox"> Model Search </label></h3>
    <div id="searchBoxWrapper">
        <input type="text" id="searchInputBox"/>
    </div>
    <button id="searchButton"> Search </button>
    <div id="searchResults" class="panel">
        <div id="searchResultsContents"></div>
    </div>
</div>