<div id="help" class="help" style="display:none">
  <button type="button" class="close btn-large" onclick="$('#help').hide()">
  &times;
  </button>
  <p><b>Interface</b></p>
  <div class="row">
      Right click to pan camera
      <p>
          <%= image_tag('help/camera.png', alt: 'Camera', class: 'inline') %>
      </p>
  </div>
</div>
