<% provide(:title, "My Scenes") %>
<div class="row">
  <div class="col-md-12">
    <h3>Scenes (<%= @scene_list.count %>)
    <!-- new scene button -->
    <button class="new-scene btn btn-primary" href="#NewSceneModal"
            type="button" data-toggle="modal">
      New Scene
    </button>
    </h3>
    <%= render '/scenes/new' %>
  </div>
</div>

<!-- scene list -->
<% if @scene_list.any? %>
<div class="container-fluid">
  <div class="row">
        <%= render @scene_list %>
  </div>
</div>
<% end %>
