<%= stylesheet_link_tag('editor', 'viewer') %>
<div id="ui">
    <%= render 'graphicsArea' %>
</div>
<div id="blocker" style="display: none;">
    <div id="instructions">
        <p> Press enter to capture best and worst views in this scene </p>
        <p> Click to enter fullscreen mode </p>
        <p> Use AWSD to move </p>
    </div>
</div>
<%= requirejs_include_tag('gl_app/viewer-main') %>