<div id='comment' class='center' style='display:none'>
    <div>Please provide your comments about this task:</div>
    <div><%= text_area_tag('comments', nil, {class: 'span6', rows: 6}) %></div>
    <div><button type='button' id='completeTaskButton'>Complete Task</button></div>
</div>