<div id='comment' style='display:none'>
    <div>Please provide your comments about this task:</div>
    <div><%= text_area_tag('comments', nil, {rows: 6, cols: 120}) %></div>
    <div><button type="button" id='submit_button' onclick="showCoupon();">Complete Task</button></div>
</div>