<h2>Using the interface</h2>
<div class="row">
  <p>
    To move the camera right-click and drag, use the mouse wheel, or use the camera control button in the top left corner.
    <br>
    <%= image_tag('help/camera.png', alt: 'Camera', class: 'inline') %>
  </p>
  <p>
    At any point you can click on the help icon <%= image_tag('toolbar_icons/help_normal.png', alt: 'Help', class: 'inline') %> at the top right to see a help dialog again.
  </p>
</div>