<h2>Using the interface</h2>
<div class="row">
  <p>
    Find objects using the search box on the right.
    <br>
    <%= image_tag('help/search.png', alt: 'Search', class: 'inline') %>
  </p>
  <p>
    Left click on a search result and drag it to the scene to place the object.
    <br>
    <%= image_tag('help/insert.png', alt: 'Insert', class: 'inline') %>
  </p>
  <p>
    Left-click to select and drag to move objects. When an object is selected, drag the blue circle around it to rotate it, and drag the yellow arrows to resize it. Keyboard shortcuts: up and down arrow to resize, left and right arrow to rotate.
    <br>
    <%= image_tag('help/manipulate.png', alt: 'Manipulate', class: 'inline') %>
  </p>
  <p>
    To move the camera right-click and drag, use the mouse wheel, or use the camera control button in the top left corner.
    <br>
    <%= image_tag('help/camera.png', alt: 'Camera', class: 'inline') %>
  </p>
</div>