<tr>
  <td><%= result.item %></td>
  <td><%= result.condition %></td>
  <td><%= result.workerId %></td>
  <td>
    <%= link_to JSON.parse(result.data)["sentence"]["description"], { action: 'view', id: result.id } %>
  </td>
</tr>