<li class='scene-item'>
  <div class="btn-group">
    <%= link_to JSON.parse(result.data)["sentence"]["description"], { action: 'view', id: result.id },
          class: 'btn scene-name' %>
  </div>
  <div>
    <%= result.item %>
    <%= result.condition %>
    <%= result.workerId %>
  </div>
</li>
