<%= render 'experiments/datatables_style' %>

<% provide(:title, "Results") %>
<div class="row">
  <div class="span12">
    <h3>Results (<%= @completed.count %>)</h3>
    <!-- completed -->
    <% if @completed.any? %>
        <table id="resultsTable" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Time</th>
            <th>Item</th>
            <th>Condition</th>
            <th>Worker</th>
            <th>Sentence</th>
            <th>Preview</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <%= render :partial => 'result', :collection => @completed  %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
<%= requirejs_include_tag('experiments/results') %>
