<% provide(:title, "Results") %>
<div class="row">
  <div class="span8 offset2">
    <h3>Results (<%= @completed.count %>)</h3>
    <!-- completed -->
    <% if @completed.any? %>
        <ol class="unstyled">
          <%= render :partial => 'result', :collection => @completed  %>
        </ol>
    <% end %>
  </div>
</div>
