<% provide(:title, "Results") %>
<div class="row">
  <div class="span8 offset2">
    <h3>Results (<%= @completed.count %>)</h3>
    <!-- completed -->
    <% if @completed.any? %>
        <table id="resultsTable" class="table">
          <tr>
            <th>Item</th>
            <th>Condition</th>
            <th>Worker</th>
            <th>Sentence</th>            
          </tr>
          <%= render :partial => 'result', :collection => @completed  %>
        </table>
    <% end %>
  </div>
</div>