<div id="entryOverlay" class="entryOverlay topOverlay center">
  <div id="sentence" class='textDescription'>
    <div>Please write a couple of sentences that describes the scene.</div>
    <%= text_area_tag('sceneDescription', nil, {class: 'span6', rows: 4}) %>
  </div>
</div>