<%= render 'experiments/datatables_style' %>

<% provide(:title, "Results") %>
<div class="row">
  <div class="span12">
    <h3>Results (<%= @completed.count %>)</h3>
    <!-- completed -->
    <% if @completed.any? %>
        <table id="resultsTable" class="display">
          <thead>
          <tr>
            <th>Time</th>
            <th>Item</th>
            <th>Condition</th>
            <th>Worker</th>
            <th>Category</th>
            <th>Scan</th>
            <th>Preview</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <%= render :partial => 'result', :collection => @completed  %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#resultsTable')
            .removeClass( 'display' )
            .addClass('table table-striped table-bordered');
</script>
<%= requirejs_include_tag('experiments/results') %>
