@import "common";
@import "graphicsArea";

#splitView
{
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
}

#graphicsOverlay
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

#mturkoverlay{
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 2;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}